/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    font-family: 'Tahoma', sans-serif; 
    padding-left: 10%;  
    padding-right: 10%;
    font-size: 1.2em; 
    line-height: 1.6; 
}


header {
    text-align: center;
    margin-bottom: 20px;
}

#mainHeading {
        color: red;
        font-family: 'Arial Black', sans-serif;
        font-size: 3em; 
}

#about-artist {
    text-align: center;
    margin-bottom: 40px;
}

.artist-container {
    width: 80%;  
    max-width: 600px;  
    margin: 0 auto;  
}

#about-artist img {
    width: 100%;  
    height: auto;
    border-radius: 10px;
}

#about-artist p {
    width: 100%; 
    text-align: justify;  
    margin-top: 15px; 
}


#war-diary {
    margin-top: 20px;
}

.diary-entry {
    margin-bottom: 40px;
}

.diary-entry h3 {
    font-family: 'Georgia', serif; 
    font-size: 2em; 
    margin-bottom: 10px;
}

.diary-entry p {
    font-size: 1em;  
}

.diary-entry img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

#testP.funParagraph {
    color: green;
    font-style: italic;
    font-size: 1em;  
    margin-top: 20px;
}

footer {
    background-color: white;
    text-align: left;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}